@model IkProjesi_1.Models.Personel
@{
    ViewBag.Title = "KisiDuzenle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Merhabalar, Personel Düzenleme Sayfası</h2>

<form action="@Url.Action("KisiDuzenle","Personel","Admin")" method="post">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.AktifMi)
    <div class="form-group col-6">
        @Html.Label("Personel Adı")
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    </div>
    <div class="form-group col-6">
        @Html.Label("Personel Soyadı")
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    </div>
    <div class="form-group col-6">
        @Html.Label("Personel Şirket Numarası")
        @Html.TextBoxFor(x => x.SirketNumarasi, new { @class = "form-control", type = "number" })
    </div>
    <div class="form-group col-6">
        @Html.LabelFor(x => x.UnvanId)
        @Html.DropDownListFor(x => x.UnvanId,null,"Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnvanId, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

